/* src/index.css */

@import "tailwindcss";

/* basic reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #e9edf5; /* same light grey as Figma */
}
